@tailwind base;
@tailwind components;
@tailwind utilities;

body { @apply bg-gray-50 text-gray-800; }
.table-fixed td, .table-fixed th { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
